-i https://pypi.org/simple/
certifi==2020.4.5.1
click==7.1.2
dnspython==1.16.0
ecdsa==0.13.3
email-validator==1.1.1
flask-wtf==0.14.3
flask==1.1.2
idna==2.9
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
pycryptodome==3.9.7
werkzeug==1.0.1
wtforms==2.2.1
